# Project place file
/Sworduh.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
*.rbxm
*.rbxmx
sourcemap.json

# Roblox global types
/globalTypes.d.luau

# Wally
/Packages/
/DevPackages/

# npm
/node_modules

# Docs
/build/
out/

.env
*.env
.env.*

.vscode/