# Project place file
/Sworduh.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
*.rbxm
*.rbxmx
sourcemap.json

# Wally
/Packages/
/DevPackages/

# Docs
/build/
out/

.env
*.env
.env.*

.vscode/